PUID=Seu PUID. Pode achar com o comando `id $USER` no bash
PGID=Seu PGID. Pode achar com o comando `id $USER` no bash
TZ=America/Sao_Paulo

CONFIG_PATH=/home/lucasnoman/codes/qbittorrent-container
HOST_PATH=/mnt/plex/data/torrents
CONTAINER_PATH=/data/torrents
